.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__circle {
  position: absolute;
  border-radius: 25px;
  background-color: tomato;
  top: 50px;
  right: 23px;
  display: flex;
  justify-content: center;
  width: 5px;
  height: 5px;
}

.screen-header__icons :first-child {
  margin: 15px;
}
